.container {
  display: flex;
  flex-direction: column;
  padding: 24px 20px;
  background: var(--html-bg);
  border-left: 1px solid var(--border);
  flex: 1;
}

.title {
  color: var(--color);
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 24px;
}

.resultContainer {
  flex: 1;
  padding: 14px 20px;
  background: var(--output-bg);
  overflow: auto;
  width: 100%;
  color: var(--color);
}

.result {
  display: block;
  white-space: pre-wrap;
  word-break: break-all;
}
