/* IDEPage.css */
.ide-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .ide-main {
    display: flex;
    flex-grow: 1;
    overflow: hidden;
    height: calc(100% - 50px);
  }
  
  .sidebar {
    width: 250px;
    height: 100%;
  }
  
  .editor {
    flex-grow: 1;
    height: 100%;
  }
  
  .output {
    height: 200px;
  }
  