.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100dvw;
  height: 100dvh;
}

/* rename */
.logo {
  font-size: 58px;
  margin-bottom: 68px;
}

.formDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 440px;
}

.inputBox {
  display: block;
  width: 100%;
  height: 72px;
  border: 1px solid var(--border);
  border-radius: 5px;
  background: var(--input-bg);
  color: var(--color);
  font-size: 20px;
  margin-bottom: 24px;
  padding: 6px 12px;
  box-sizing: border-box;
}

.inputBox::placeholder {
  color: #aaa;
}

.inputBox:last-child {
  margin-bottom: 32;
}

.buttonBox {
  display: block;
  width: 440px;
  height: 78px;
  font-size: 20px;
  color: #fff;
  background: var(--primary);
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
  margin-bottom: 26px;
  cursor: pointer;
}

.buttonBox[disabled] {
  pointer-events: none;
  color: var(--login-btn-color);
  background: var(--login-btn);
}

.spanMsg {
  font-size: 14px;
  color: var(--login-msg);
}

.linkMsg {
  display: inline-block;
  color: var(--primary);
  margin-left: 6px;
}

.linkMsg:hover {
  text-decoration: underline;
}
