.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100dvw;
  height: 100dvh;
}

.title {
  width: 320px;
  font-size: 54px;
  font-weight: 800;
  margin-bottom: 16px;
  text-align: center;
}

.msg {
  width: 320px;
  font-size: 16px;
  margin-bottom: 72px;
  text-align: center;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 54px;
  border-radius: 5px;
  background: var(--primary);
  color: white;
}
