@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

:root {
  --primary: #1d6feb;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: 'pretendard', 'sans-serif';
  background: #fafafa;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

.javascript {
  background: #ffc8c8;
}

.java {
  background: #b2ffbe;
}

.c {
  background: #b2ffbe;
}

.python {
  background: #b2ffbe;
}

.typescript {
  background: #b2ffbe;
}

.php {
  background: #b2ffbe;
}

.csharp {
  background: #b2ffbe;
}

.public {
  background: #e4ffd3;
  color: #3b9b01;
}

.private {
  background: #ffd8da;
  color: #b7010b;
}
