@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

:root {
  --primary: #1d6feb;
  --html-bg: #fafafa;
  --color: #000;
  --border: #d5d5d5;
  --login-btn: #ececec;
  --login-btn-color: #7c7c7c;
  --login-msg: #444;
  --input-bg: #fafafa;
  --item-bg: #fff;
  --item-title-color: #000;
  --item-sub-color: #444;
  --title-color: #000;
  --gnb-menu-color: #000;
  --logout-color: #000;
  --nickname-color: #000;
  --tab-color: #000;
  --modal-bg: #fff;
  --modal-title: #000;
  --cancel-btn: #ccc;
  --pw-bg: #f9f9f9;
  --pw-text: #4c4c4c;
  --ide-ico: #444;
  --ico-bg: #f0f0f0;
  --ico-active-bg: #e8f1ff;
  --ico-bg-hover: #d5d5d5;
  --output-bg: #f1f1f1;
}

html.dark {
  --html-bg: #242424;
  --color: #fff;
  --border: #444;
  --login-btn: #444;
  --login-btn-color: #aaa;
  --login-msg: #c3c3c3;
  --input-bg: #242424;
  --item-bg: #343434;
  --item-title-color: #fff;
  --item-sub-color: #aaa;
  --title-color: #fff;
  --gnb-menu-color: #fff;
  --logout-color: #fff;
  --nickname-color: #fff;
  --tab-color: #fff;
  --modal-bg: #242424;
  --modal-title: #fff;
  --cancel-btn: #343434;
  --pw-bg: #343434;
  --pw-text: #ccc;
  --ide-ico: #d5d5d5;
  --ico-bg: #444;
  --ico-active-bg: #162d50;
  --ico-bg-hover: #333;
  --output-bg: #2f2f2f;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100dvw;
  height: 100dvh;
  font-family: 'pretendard', 'sans-serif';
  background: var(--html-bg);
  overflow-x: hidden;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

.javascript {
  background: #ffc8c8;
}

.java {
  background: #b2ffbe;
}

.python {
  background: #fff0c8;
}

.typescript {
  background: #b6d8ff;
}

.php {
  background: #b6fffb;
}

.csharp {
  background: #e5bbff;
}

.public {
  background: #e4ffd3;
  color: #3b9b01;
}

.private {
  background: #ffd8da;
  color: #b7010b;
}
